.formbox button[type="submit"]{

    border: 0;
    background: none;
    display: block;
    margin: 10px auto;
    text-align: center;
    font-weight: 400;
    border: 2px solid #27272a;
    padding: 12px 40px;
    outline: none;
    color: #27272a;
    border-radius: 8px;
    transition: 0.25s;
    cursor: pointer;

}
.formbox button[type="submit"]:hover{

    background: #3c56c9;
    border-color: #3c56c9;

}
