{% extends "layout/base.html" %}
{% load static %}

{% block title %}Método de Bisección{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1 class="text-center">Método de Bisección</h1>

        <h3 class="text-center">!!Los métodos deben ser continuos!!</h3>

        <div class="row align-items-start">
            
            <div class="col-md-6">
                <form method="post" class="p-4 border rounded shadow">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <div class="form-group mb-3">
                        <label>
                            <input type="checkbox" name="correr_informe">
                            Generar informe de ejecución para el método de bisección
                        </label>
                    </div>

                    <button type="submit" class="btn btn-primary">Calcular</button>
                </form>
            
                <div class="mt-3">
                    <a href="https://es.wikipedia.org/wiki/Reglas_de_derivación" class="btn btn-link" target="_blank">Como derivar</a>
                    <a href="https://www.calculadora-de-derivadas.com" class="btn btn-link" target="_blank">Calculadora de derivadas</a>
                </div>
            </div>
            
            <div class="col-md-6 text-center">
                <img src="{% static 'formulas/images/Formulas.png' %}" class="img-fluid rounded" alt="Imagen del Método de Punto Fijo">
            </div>
        </div>
    </div>
{% endblock %}
