{% extends "layout/base.html" %}

{% block title %}Metodos{% endblock %}

{% block content %}
<div class="container-margin container text-center">
    <h2 class="my-4">Seleccione un Método</h2>

    <div class="container">
        <div class="row">
            <div class="card p-3 justify-content-start">
                <h5>Capítulo 1</h5>
                <div class="row">
                    <div class="col-auto">
                        <form action="/biseccion/" method="POST" class="formbox" >{% csrf_token %}<button type="submit">Bisección</button></form>
                    </div>
                    <div class="col-auto">
                        <form action="/reglafalsa/" method="POST" class="formbox" >{% csrf_token %}<button type="submit">Regla Falsa</button></form>
                    </div>
                    <div class="col-auto">
                        <form action="/puntofijo/" method="POST" class="formbox" >{% csrf_token %}<button type="submit">Punto Fijo</button></form>
                    </div>
                    <div class="col-auto">
                        <form action="/newton/" method="POST" class="formbox" >{% csrf_token %}<button type="submit">Newton</button></form>
                    </div>
                    <div class="col-auto">
                        <form action="/secante/" method="POST" class="formbox" >{% csrf_token %}<button type="submit">Secante</button></form>
                    </div>
                    <div class="col-auto">
                        <form action="/raicesmultiples/" method="POST" class="formbox" >{% csrf_token %}<button type="submit">Raices Multiples</button></form>
                    </div>
                    <div class="col-auto">
                        <form action="/todos/" method="POST" class="formbox" >{% csrf_token %}<button type="submit">Todos</button></form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="card p-3 justify-content-start">
                <h5>Capítulo 2</h5>
                <div class="row">
                    <div class="col-auto">
                        <form action="/jacobi/" method="POST" class="formbox" >{% csrf_token %}<button type="submit">Jacobi</button></form>
                    </div>
                    <div class="col-auto">
                        <form action="/gausseidel/" method="POST" class="formbox" >{% csrf_token %}<button type="submit">Gauss-Seidel</button></form>
                    </div>
                    <div class="col-auto">
                        <form action="/sor/" method="POST" class="formbox" >{% csrf_token %}<button type="submit">SOR</button></form>
                    </div>
                    <div class="col-auto">
                        <form action="/todosNL/" method="POST" class="formbox" >{% csrf_token %}<button type="submit">Todos</button></form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="card p-3 justify-content-start">
                <h5>Capítulo 3</h5>
                <div class="row">
                    <div class="col-auto">
                        <form action="/vander/" method="POST" class="formbox" >{% csrf_token %}<button type="submit">Vandermonde</button></form>
                    </div>
                    <div class="col-auto">
                        <form action="/newtonint/" method="POST" class="formbox" >{% csrf_token %}<button type="submit">NewtonInt</button></form>
                    </div>
                    <div class="col-auto">
                        <form action="/lagrange/" method="POST" class="formbox" >{% csrf_token %}<button type="submit">Lagrange</button></form>
                    </div>
                    <div class="col-auto">
                        <form action="/splinelin/" method="POST" class="formbox" >{% csrf_token %}<button type="submit">Spline Linear</button></form>
                    </div>
                    <div class="col-auto">
                        <form action="/splinecub/" method="POST" class="formbox" >{% csrf_token %}<button type="submit">Spline Cúbico</button></form>
                    </div>
                    <div class="col-auto">
                        <form action="/todosInter/" method="POST" class="formbox" >{% csrf_token %}<button type="submit">Todos</button></form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
